body {
    padding:0px;
    margin:0px;
    text-align: center; 
    background-image: url("../img/background-filete.jpg");
    background-repeat: repeat-x;
}

.wrapper{
    width: 672px;
    outline: #1c7fbd;
    margin: 0 auto;
}

#cabecalho{
    height: 60px;
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

#cabecalho #logotipo{
    float: left;
}

#cabecalho #menu-lateral{
    margin-top: 12px;
    margin-right: 13px;
    float: right;
}

#cabecalho #menu-lateral ul li{
    display: inline;
}

/*
#cabecalho #menu-lateral ul li .fa-home{
     -webkit-box-shadow: 7px 4px 13px -7px rgba(56, 56, 56, 0.75);
    -moz-box-shadow: 7px 4px 13px -7px rgba(56, 56, 56, 0.75);
    box-shadow: 7px 4px 13px -7px rgba(56, 56, 56, 0.75); 
}
*/

#cabecalho #menu-lateral ul li [class*="fa-"]{
    text-shadow: 1px 1px #737373;
}

#cabecalho #menu-lateral ul li .fa-home{
    color: white;
    font-size: 25px;
}

#cabecalho #menu-lateral ul li .fa-heart, #cabecalho #menu-lateral ul li .fa-print{
    color: #bfde50;
    font-size: 25px;
}
#cabecalho #logotipo img{
    width: 80px;
}

#carrossel{
    outline: solid 1px #abe0da;
    height: 244px;
    background-image: url("../img/background-carrossel.jpg");
    margin: 0 auto;
    margin-top: 32px;
}

#carrossel .texto{
    float: left;
    width: 390px;
    height: 144px;
    overflow: auto;
    text-align: right;
    color: white;
}

#carrossel .texto h1{
    text-align: right;
    color: #c2c242;
    font-size: 34px;
    font-family: Arial Rounded MT Bold;
}

#carrossel #menu{
    background-image: url("../img/background-filete-menu.jpg");
    background-repeat: repeat-x;
    width: 600px;
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: -16px;
}

#carrossel #menu ul {
    margin:0px;
    list-style:none;
    font:20px Tahoma;
    overflow: hidden;
    height: 58px;
    outline: solid 1px #3987a8;
}

#carrossel #menu ul li { 
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    float: left; 
    padding-top: 12px;
}

#carrossel #menu ul li a {
    color: white;
    padding: 3px 16px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

#carrossel #menu ul li:hover {
    color: rgb(149, 207, 255);
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    background-image: url("../img/background-filete-menu-over.jpg");
     -webkit-box-shadow: 7px 4px 13px -7px rgba(56, 56, 56, 0.75);
    -moz-box-shadow: 7px 4px 13px -7px rgba(56, 56, 56, 0.75);
    box-shadow: 7px 4px 13px -7px rgba(56, 56, 56, 0.75);
}


#miolo{
    outline: solid 1px black;
}

#miolo .quadrante{
    background-color: #bbd53c;
    width: 212px;
    height: 181px;
    color: #25646d;
    float: left;
    margin: 6px;
    text-align: center;
}

#miolo .quadrante .texto{
    height: 67px;
    overflow: hidden;
}

#miolo .quadrante .fas{
    height: 60px;
    display: block;
    outline: solid 1px gray;
    font-size: 42px;
    padding-top: 10;
}

#miolo .quadrante.selecionado{
    background-color: #319bd7;
    color: white;
}

#miolo .quadrante .botao{
    background-color: #31a2dc;
    height: 30px;
    color: white;
    display: block;
    width: 100%;
    line-height: 30px;
}

#miolo .quadrante.selecionado .botao{
    background-color: #bbd53c;
    color: #25646d;
}

#descritivo{
    outline: solid 1px black;
    height: 60px;

}

#rodape{
    outline: solid 1px black;
    height: 60px;

}

/* 
h1 { 
    text-align: center;
    color: rgb(49, 49, 48);
}

p {
  font-family: verdana;
  font-size: 30px;
  color: white;
  text-align: center;
}

a{
    color: red;
} */

#miolo img{
    width:900;
    height:400;
}

.d-none{
    display: none;
}