#rodape .icones{
    margin: 0 auto;
    width: 148px;
}

#rodape .icone {
    float: left; 
    margin: 7px 7px 7px 0; 
    width: 30px; 
    height: 30px;
    background-size: 30px 30px;
}

#rodape .icone.fb2 { 
    background-image: url("../img/facebook.png"); 
}

#rodape .icone.fb2:hover {
    background-image: url("../img/facebook-hover.png");
}   
    
#rodape .icone.tw2 { 
    background-image: url("../img/twitter.png"); 
}

#rodape .icone.tw2:hover {
    background-image: url("../img/twitter-hover.png");
}
    
#rodape .icone.gp2 { 
    background-image: url("../img/google.png"); 
}

#rodape .icone.gp2:hover {
    background-image: url("../img/google-hover.png");
}

#rodape .icone.you2 { 
    background-image: url("../img//youtube.png"); 
}

#rodape .icone.you:hover2 {
    background-image: url("../img/youtube-hover.png");
}


