.social {
    width: 314px
    }

.social div { 
    position: left; 
    cursor: pointer; 
    padding: 0; 
    list-style: none 
}

.social .icone { 
    z-index: 7; 
    float: left; 
    margin: 1px; 
    position: left; 
    display: block; 
    width: 45px; 
    height: 40px;
    background-size: 45px 40px;
}


.social .fb2 { 
    background-image: url("../img/facebook.png"); 
}

.social div:hover .fb2 {
    background-image: url("../img/facebook-hover.png");
}   
    
.social .tw2 { 
    background-image: url("../img/facebook.png"); 
}

.social div:hover .tw2 {
    background-image: url("../img/facebook-hover.png");
}
    
.social .gp2 { 
    background-image: url("../img/facebook.png"); 
}

.social div:hover .gp2 {
    background-image: url("../img/facebook-hover.png");
}

.social .you2 { 
    background-image: url("../img/facebook.png"); 
}

.social div:hover .you2 {
    background-image: url("../img/facebook-hover.png");
}


